
{{> header}}
{{> sidemenu}}

<section class="podcast first-section">
	<div class="pod-img">
		<img src="{{data.cover}}">
		<span>{{data.programa}}</span>
	</div>
	<div class="pod-info">
		<div class="encabezado">{{data.title}}</div>
		<div class="autor">{{data.authors}}</div>
		<a class="botonero activo" href="#">SHUFFLE</a>
		<a class="botonero" href="#">COMPARTIR</a>
	</div>
	<ul class="playlist">
	
	{{# each data.episodes.pool}}
		<li>
			<div class="episodio {{# playing}}activo{{/ playing}}">
				<span>{{inc @index}}</span>{{title}}
				{{# playing}}
					<i class="material-icons">volume_up</i>
				{{/ playing}}
			</div>
			<div class="tiempo">{{duration}}</div>
		</li>
	{{/ each}}

	</ul>
</section>